# Byte-compiled / optimized / DLL files
__pycache__/
simulation/__pycache__/
simulation/sim_phys
simulation/sim_phys.o
simulation/sim_utils.o
simulation/main.o
simulation/a.out
animation/__pycache__/
*.py[cod]